body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    
}

a {text-decoration: none;
    }
img {
        display: block;
    }
    /* header */
.header {
        border-bottom: 1px solid #e7e9fc;
        background: #fff;
        max-width: 1440px;
        margin: 0 auto;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.container {
    text-align: center;
    width: 1158px;    
    padding: 0 15px;
    margin: 0 auto;
}
header .container {
    display: flex;
}
.navigation-list .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.navigation-list {
display: flex;
align-items: center;
margin-right: auto;
}
.navigation-item {
    display: flex;
}
.nav-menu {
    display: flex;
    gap: 40px
}
.navigation {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        display: flex;
        padding: 24px 0;

}
.navigation-item:first-child .navigation{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navigation-item:first-child .navigation::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}



.navigation:hover,
.navigation:active,
.navigation:focus {

        color: #404bbf;
}
.navigation a:active {

    color: #404bbf;
}
.contacts-list {
    font-style: normal;
    padding-top: 24px;
}

.contacts-list-item .contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}



.contacts-menu {
    gap: 40px;
    display: flex;
}

.contacts {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;  
}
.contacts:hover,
.contacts:focus {
color: #404bbf;
}

/* main */

/* section 1 */
.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}
.section-one-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}
    
.button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 56px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background: #404bbf;
}

/* sectiom 2 */
.section-two {
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
 position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
 }


.section-two-list {
    display: flex;
    gap: 24px;
}
.section-two-list-item {
    width: calc((100% - 72px) / 4);
}

.section-two-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}





.section-two-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
}
 .section-two-list-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: left;
 }
 
 /* section 3 */

.section-three {
   background: #f4f4fd; 
   padding: 120px 0;
   max-width: 1440px;
   margin: 0 auto;
}

.section-three-title {
    font-family: "Roboto",
sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.section-three-list {
    display: flex;
gap: 24px;

}

.section-three-minibox { 
        background: #fff;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-three-minibox-info {
    padding: 32px 0;
}
.section-three-minibox-title {
   font-family: "Roboto",
sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
margin-bottom: 8px;

}

.section-three-minibox-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
}

.section-three-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-three-social-item {
    width: 40px;
    height: 40px;
    
}
.section-three-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three-social-link:hover,
.section-three-social-link:focus {
  background-color: #404bbf;  
}
.section-three-icon {
    fill: #f4f4fd;
}










/* section 4 */


.section-four {
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
}


.section-four-minibox {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-minibox:hover .section-four-minibox-info .section-four-minibox-text {
    transform: translateY(0%);
}

.section-four-minibox:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.section-four-list { 
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.section-four-minibox-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
}

.section-four-minibox-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.section-four-minibox-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
}

/* footer */
.footer {
    background: #2e2f42;
    padding: 100px 0;
    max-width: 1440px;
    margin: 0 auto;
}
.footer .logo {
    display: inline-block;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px; 
}

.footer .studio {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
        
}
.footer .container {
    text-align: left;
    margin-left: auto;
}