body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
    
}
a {text-decoration: none;
    }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
/* header */
header {
    background: #fff;
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.navigation {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
}
.navigation:hover,
.navigation:active,
.navigation:focus {

        color: #404bbf;
}
.navigation a:active {

    color: #404bbf;
}
.contacts-list {
    font-style: normal
}
.contacts {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts:hover,
.contacts:focus {
color: #404bbf;
}

/* main */

/* section 1 */
.section-one {
    background: #2e2f42;
}
.section-one-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
.button {
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
}
.button:hover,
.button:focus {
    background: #404bbf;
}

/* sectiom 2 */
.section-two-list-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
 .section-two-list-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
 }
 
 /* section 3 */

.section-three {
   background: #f4f4fd; 
}

.section-three-title {
    font-family: "Roboto",
sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize
}

.section-three-minibox { 
        background: #fff;
}
.section-three-minibox-title {
   font-family: "Roboto",
sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
}

.section-three-minibox-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
}

/* section 4 */

.section-four-minibox {
    background: #fff;
}
.section-four-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.section-four-minibox-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-four-minibox-text {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
}

/* footer */
.footer {
    background: #2e2f42;
}
footer .studio {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
